<%= link_to 'Back', orders_path, class: 'btn btn-light mb-3' %>

<div class="card mb-5" >
  <div class="card-body">
    <h2 class='card-title d-flex justify-content-between'>
      <span> <b> <%= @order.model.name %> </b> </span>  
      <div> 
        <%= link_to 'Edit', edit_order_path(@order), class: 'btn btn-light' %>
        <%= link_to 'Destroy', @order, method: :delete, class: 'btn btn-secondary text-light', data: { confirm: 'Are you sure?' } %>
      </div>
    </h2>

    <div class="mb-4">

      <span class="badge badge-primary mb-4">
        <%= @order.etat_command %>
      </span>

      <p>
        <strong>Total amount:</strong>
        <%= @order.montant_total %>
      </p>

      <p>
        <strong>Advance payment:</strong>
        <%= @order.avance %>
      </p>

      <p>
        <strong>Remaining to be paid:</strong>
        <%= @order.reste %>
      </p>

      <p>
        <strong>Invoice status:</strong>
        <%= @order.etat_facture %>
      </p>

      <p>
        <strong>Delivery date:</strong>
        <%= @order.livraison %>
      </p>

      <p>
        <strong>Priority:</strong>
        <%= @order.priority %>
      </p>

      <p>
        <strong>Model:</strong>
        <%= @order.model.name %>
      </p>

      <p>
        <strong>Customer:</strong>
        <%= @order.client.name %>
      </p>
 
      <p>
        <strong>The image of the fabric : </strong>
        <%= image_tag @order.image.url, class:'other_image' %>
      </p>


      <p>
        <strong>The image of the model : </strong>
        <%= image_tag @order.model.image.url, class:'other_image' %>
      </p>
      <br>

      <div id="comments_area">
        <!-- Rendu pour afficher une liste des commentaires publiés sur la page des détails du blog -->
        <%= render partial: 'comments/index', locals: { comments: @comments, order: @order } %>
      </div>

      <!-- Pour afficher le champ de saisie des commentaires sur la page détaillée de la commande. -->
      <%= render partial: 'comments/form', locals: { comment: @comment, order: @order } %>

    </div>
  </div>
</div>